[Unit]
Description=DMAP Service

[Service]
Type=forking
PIDFile=/var/run/dmapd/dmapd.pid
ExecStart=/usr/sbin/dmapd

[Install]
WantedBy=multi-user.target
